[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
pymongo = "*"
dnspython = "*"
pika = "*"
numpy = "*"
pandas = "*"
openpyxl = "*"
scikit-learn = "*"
sanic = "*"

[dev-packages]
ipykernel = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
